workflow diario.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6
            },
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -672,
        -48
      ],
      "id": "36c04d79-6c45-425a-be02-35b24f306dc5",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://dev.to/feed/tag/ai",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -448,
        -144
      ],
      "id": "414a1ac4-0c35-48b8-a2e4-c4560f6f3f64",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "url": "https://g1.globo.com/rss/g1/tecnologia/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -448,
        32
      ],
      "id": "9aac5bf0-5077-45af-be3e-52426e406b8c",
      "name": "RSS Read1"
    },
    {
      "parameters": {
        "maxItems": 3
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -240,
        32
      ],
      "id": "0fa29f25-0bca-4824-9e91-f33f167dcd97",
      "name": "Limit"
    },
    {
      "parameters": {
        "maxItems": 3
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -240,
        -144
      ],
      "id": "ccda6a64-6500-4410-b6b8-7708a5c8c9cd",
      "name": "Limit1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -16,
        -48
      ],
      "id": "5be47c1a-096c-4649-8978-5523bfdd269e",
      "name": "Merge"
    },
    {
      "parameters": {
        "fieldToSplitOut": "title, content, link",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        192,
        -48
      ],
      "id": "8849e25e-a29a-4de0-a1bc-6ae7a2234e0a",
      "name": "Split Out"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        400,
        -48
      ],
      "id": "0b6b69bb-bda9-46fe-b13b-05e372496c76",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Você é um editor de notícias de tecnologia especializado em Inteligência Artificial (IA) e Tecnologia. \n\nSua tarefa é analisar o conjunto de notícias a seguir, extrair apenas os pontos mais relevantes e criar um resumo diário.\n\nInstruções de Saída:\n\nFormato: A saída deve ser uma única mensagem formatada com títulos em Markdown (negrito e emojis) para fácil leitura.\n\nConteúdo: Selecione no máximo 3 notícias mais importantes e relevantes para desenvolvedores.\n\nEstrutura: Divida a mensagem em três seções: Título, IA & ML, e Tecnologia.\n\nResumo: Para cada notícia selecionada, crie um resumo conciso de no máximo 50 palavras.\n\nLinks: O Título de cada resumo deve ser o link original da notícia (se possível, use a sintaxe Markdown para links: [Título Original](URL do Artigo)).\n\nEstrutura de Saída Desejada:\n\nMarkdown\n\n🤖 **Resumo Diário de Notícias Tech** 🚀\n*Data atual* {{ $now.format('dd/MM/yy') }}\n\n---\n\n🧠 **Inteligência Artificial & Machine Learning**\n\n1️⃣ **[Título do Artigo IA 1](URL do Artigo 1)**\n* Breve resumo (máx. 50 palavras) sobre o avanço, modelo ou pesquisa.\n\n2️⃣ **[Título do Artigo IA 2](URL do Artigo 2)**\n* Breve resumo (máx. 50 palavras) sobre novas ferramentas ou implicações éticas.\n\n---\n\n💻 **Tecnologia**\n\n1️⃣ **[Título do Artigo Tecnologia 1](URL do Artigo 3)**\n* Breve resumo (máx. 50 palavras) sobre novo recurso, framework, ou release importante (ex: Node.js, React).\n\n---\n\n🔥 **Dica Rápida:** *Uma frase motivacional ou um breve lembrete sobre a importância de revisar a documentação.*\nDados de Entrada (Artigos RSS):\n\n(Insira aqui os dados dos artigos coletados pelo nó RSS Read, após o pré-processamento, geralmente em formato JSON ou texto simples.)\n\nJSON\n\n[\n  {\n    \"title\": \"Título do Artigo 1\",\n    \"url\": \"https://...\",\n    \"content\": \"Conteúdo completo do artigo 1...\"\n  },\n  {\n    \"title\": \"Título do Artigo 2\",\n    \"url\": \"https://...\",\n    \"content\": \"Conteúdo completo do artigo 2...\"\n  },\n  // ... mais artigos\n]\nEste prompt garante que a LLM:\n\nMantenha o Foco: Limita o resultado a apenas IA e Tecnologia.\n\nSeja Concisa: Impede que a LLM crie resumos longos demais (limite de 50 palavras).\n\nFormate Corretamente: Entrega a saída pronta para o Markdown do Discord.\n\nConjunto de noticias\n{{ $json.data.toJsonString() }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        608,
        -48
      ],
      "id": "61cc9ce0-c48f-4342-820c-a0d03be62f0e",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "qAMdZOP1Ki5I88NV",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "={{ $json.content.parts[0].text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        960,
        -48
      ],
      "id": "25646680-438b-43ad-b4c2-631e38634866",
      "name": "Discord",
      "webhookId": "f3b58613-e915-4be4-84ce-29bb67491dbd",
      "credentials": {
        "discordWebhookApi": {
          "id": "jXImSdqk2032cP0f",
          "name": "Discord Webhook account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read1": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "a9046d51-4e2d-4075-944c-7cc7e737bf90",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e670ec86e37a8362f24232834d82ce54b8295e002ec4ce02b6a2c8940606bdaf"
  },
  "id": "Gwu5brF-wsExg1EPlQcq8",
  "tags": []
}